<!DOCTYPE html>
<!--
   

  -->
<html>
  <head>
    <meta charset="UTF-8">
    <title>GRADual</title>
    <link href="../jquery/css/ui-lightness/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
    <link href="../css/material.min.css" rel="stylesheet">
    <link href="../formatting/gradual.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../css/monthly.css">

  </head>
  <body id="homepage">
    <!-- Dependencies -->
      <script src="../jquery/js/jquery-1.12.0.min.js"></script>
      <script src="../jquery/js/jquery-ui-1.10.0.custom.min.js"></script>
      <script src="../js/material.min.js"></script>
      <script src="../models/Task.js"></script>
      <script src="../models/Application.js"></script>
      <script src="../models/gradual.js"></script>
      <script type="text/javascript" src="../js/monthly.js"></script>
      <script type="text/javascript">
      $(window).load( function() {
        $('#mycalendar').monthly();
      });
      </script>

      <dialog class="mdl-dialog" id="dialog">
        <div class="mdl-dialog__content">
          <!-- Displayed on Computer and Tablet -->
          <div class="mdh-expandable-search2 mdl-cell--hide-phone">
            <form action="#" id="event_name_form">
              <div class="mdl-textfield mdl-js-textfield">
                <p style="font-family:'Balthazar', serif; margin: 0px; font-size: 18px">Name of Event:</p>
                <input class="mdl-textfield__input" type="text" id="event_name" style="font-family:'Balthazar', serif" />
                <label class="mdl-textfield__label" for="event_name"></label>
              </div>
            </form>
            <form action="#" id="date_form">
              <div class="mdl-textfield mdl-js-textfield">
                <p style="font-family:'Balthazar', serif; margin: 0px; font-size: 18px">Date:</p>
                <input class="mdl-textfield__input" type="date" id="datepicker" style="font-family:'Balthazar', serif" />
                <label class="mdl-textfield__label" for="datepicker"></label>
              </div>
            </form>
            <form action="#" id="time_form">
              <div class="mdl-textfield mdl-js-textfield">
                <p style="font-family:'Balthazar', serif; margin: 0px; font-size: 18px">Time:</p>
                <input class="mdl-textfield__input" type="time" id="timepicker" style="font-family:'Balthazar', serif" />
                <label class="mdl-textfield__label" for="timepicker"></label>
              </div>
            </form>
            <form action="#" id="school_form">
              <div class="mdl-textfield mdl-js-textfield">
                <p style="font-family:'Balthazar', serif; margin: 0px; font-size: 18px">School:</p>
                <input class="mdl-textfield__input" type="text" id="schoolpicker" style="font-family:'Balthazar', serif" />
                <label class="mdl-textfield__label" for="schoolpicker"></label>
              </div>
            </form>
            <!-- Floating Multiline Textfield -->
            <form action="#" id="description_form">
              <div class="mdl-textfield mdl-js-textfield">
                <p style="font-family:'Balthazar', serif; margin: 0px; font-size: 18px">Description:</p>
                <textarea class="mdl-textfield__input" type="text" rows= "2" id="description" style="font-family:'Balthazar', serif" ></textarea>
                <label class="mdl-textfield__label" for="description"></label>
              </div>
            </form>
          </div>
          <!-- Displayed on mobile -->
          <!-- <div class="mdl-layout-spacer mdl-cell--hide-tablet mdl-cell--hide-desktop"></div> -->
          <!-- Search button -->
          <!-- <button class="mdh-toggle-search mdl-button mdl-js-button mdl-button--icon mdl-cell--hide-tablet mdl-cell--hide-desktop">
            <i class="material-icons">search</i>
          </button> -->
        </div>
        <div class="mdl-dialog__actions">
          <button type="button" class="mdl-button add">Add</button>
          <button type="button" class="mdl-button close">Cancel</button>
        </div>
      </dialog>

      <!-- Source: https://www.getmdl.io/components/index.html#layout-section -->
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
          <div class="mdl-layout__header-row">
            <button id= "homeButton" style="color:white" class="mdl-button mdl-js-button mdl-js-ripple-effect">
              Home
            </button>
            <script>
              document.getElementById("homeButton").addEventListener("click", function() {console.log("Go to Home Page")});
            </script>
            <button id= "calendarButton" style="color:white" class="mdl-button mdl-js-button mdl-js-ripple-effect">
              Calendar
            </button>
            <script>
              document.getElementById("calendarButton").addEventListener("click", function() {console.log("Go to Calendar Page")});
            </script>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-layout-spacer"></div>
            <span id="gradual">GRADual</span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                        mdl-textfield--floating-label mdl-textfield--align-right">
              <label class="mdl-button mdl-js-button mdl-button--icon"
                     for="fixed-header-drawer-exp">
                <i class="material-icons">search</i>
              </label>
              <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" name="sample"
                       id="fixed-header-drawer-exp">
              </div>
            </div>
            <button id="notificationsButton" class="mdl-button mdl-js-button mdl-js-ripple-effect">
              <i style="height:12px" id="bell" class="material-icons mdl-badge mdl-badge--overlap" data-badge="3">notifications</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="notificationsButton">
              <li class="mdl-menu__item">Interview in 6 Hours</li>
              <li class="mdl-menu__item">You've been accepted to Yale!</li>
              <li class="mdl-menu__item">Harvard Application due on Monday</li>
            </ul>
            <script>
              document.getElementById("notificationsButton").addEventListener("click", function() {console.log("Show Notifications")});
            </script>
            <button id="userButton" class="mdl-button mdl-js-button mdl-js-ripple-effect">
              <i style="color:white" class="material-icons">account_box</i>
            </button>
            <script>
              document.getElementById("userButton").addEventListener("click", function() {console.log("Go to User Info Page")});
            </script>
          </div>
        </header>
        <main class="mdl-layout__content">
			<div>
			  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent show-modal" id="add_reminder_button" 
				style="display:block; width:100%; max-width:400px; margin-right:auto; margin-left:980px; margin-top:30px; box-shadow: 0 13px 40px rgba(0, 0, 0, 0.5); font-family: 'Quattrocento', serif;"> + Add Reminder
			  </button>
        <script>
          $("#add_reminder_button").on("click", function() {
            var dialog = document.querySelector('dialog');
            if (! dialog) {
              dialogPolyfill.registerDialog(dialog);
            }
            dialog.showModal();
          });

          dialog.querySelector('.close').addEventListener('click', function() {
            // $('#login')[0].reset(); //clear text
            dialog.close();
          });
          dialog.querySelector('.add').addEventListener('click',function() {
            // add university to homepage
            var text_input = $('#schoolpicker').val();
            // check if it is in the array of colleges
            if (jQuery.inArray(text_input, current_colleges) !== -1) {
              console.log("yes");
              dialog.close();
            }
          });
          var current_colleges = [
            "Harvard University",
            "Stanford University",
            "Massachusetts Institute of Technology (Sloan)",
            "Yale University",
            "Columbia University",
            "University of California - Berkeley",
          ];
          $( "#schoolpicker" ).autocomplete({
            source: current_colleges
          });
          $( "#schoolpicker" ).autocomplete("option", "appendTo", "#dialog"); 
        </script>
			  <div id="school-checker"
				style="width:300px; height:735px; position:absolute; margin-left:auto; left:155px; top:95px; box-shadow: 0 13px 40px rgba(0, 0, 0, 0.5); border-style: solid; border-width:1px;">
				<table id="school-list" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
				  <thead>
					<tr>
					  <th class="mdl-data-table__cell--non-numeric" style="height:105px; text-align:left; font-family: 'Quattrocento', serif; font-weight: bold;">All Schools</th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <td id="task-name1" class="mdl-data-table__cell--non-numeric" bgcolor="#ff4d4d" style="height:105px; width:80%; font-family: 'Quattrocento', serif; font-weight: bold;">MIT</td>
					</tr>
					<tr>
					  <td id="task-name2" class="mdl-data-table__cell--non-numeric" bgcolor="#6666ff" style="height:105px; font-family: 'Quattrocento', serif; font-weight: bold;">Harvard</td>
					</tr>
					<tr>
					  <td id="task-name3" class="mdl-data-table__cell--non-numeric" bgcolor="#ffff80" style="height:105px; font-family: 'Quattrocento', serif; font-weight: bold;">Stanford</td>
					</tr>
					<tr>
					  <td id="task-name4" class="mdl-data-table__cell--non-numeric" bgcolor="#ff80ff" style="height:105px; font-family: 'Quattrocento', serif; font-weight: bold;">Columbia</td>
					</tr>
					<tr>
					  <td id="task-name5" class="mdl-data-table__cell--non-numeric" bgcolor="#80ff80" style="height:105px; font-family: 'Quattrocento', serif; font-weight: bold;">Yale</td>
					</tr>
					<tr>
					  <td id="task-name6" class="mdl-data-table__cell--non-numeric" bgcolor="#ffc14d" style="height:105px; font-family: 'Quattrocento', serif; font-weight: bold;">UC Berkeley</td>
					</tr>
				  </tbody>
				</table>
			  </div>
			  <div class="calendar" style="width:100%; max-width:940px; display:block; margin-right:auto; margin-left:710px; box-shadow: 0 13px 40px rgba(0, 0, 0, 0.5); margin-top:30px; border-style: solid; border-width:1px;">
				<div class="monthly" id="mycalendar">
				</div>
			  </div>
			</div>
        </main>
      </div>
  </body>
</html>