<!DOCTYPE html>
<!--
   

  -->
<html>
  <head>
    <meta charset="UTF-8">
    <title>GRADual</title>
    <link href="../jquery/css/ui-lightness/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
    <link href="../css/material.min.css" rel="stylesheet">
    <link href="../formatting/gradual.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' href='../fullcalendar/fullcalendar.css' />

    <!-- Dependencies -->
      <script src="../jquery/js/jquery-1.12.0.min.js"></script>
      <script src="../jquery/js/jquery-ui-1.10.0.custom.min.js"></script>
      <script src="../js/material.min.js"></script>
      <script src="../models/Application.js"></script>
      <script src="../models/gradual.js"></script>
	  <script src='../fullcalendar/lib/jquery.min.js'></script>
	  <script src='../fullcalendar/lib/moment.min.js'></script>
	  <script src='../fullcalendar/fullcalendar.js'></script>
      <script type="text/javascript">
      $(document).ready(function() {
        $('#calendar').fullCalendar({
			eventClick: function(calEvent, jsEvent, view) {
				alert('School: ' + calEvent.school + '\n' + 'Event: ' + calEvent.title + "\n" + 'Time: ' + calEvent.time + "\n" + 'Description: ' + calEvent.description);},
			aspectRatio: 1.8,
			eventTextColor: 'black',
		});
      });
      </script>
	  <script type="text/javascript">
	  $(document).ready(function() {
		var create_new_school_row = function(application){
			var row_string = '';
			row_string = row_string + "<tr><td ";
			row_string = row_string + "id='" + application.school.toLowerCase() + "row'" + " class='mdl-data-table__cell--non-numeric school_" + application.number + "'";
			row_string = row_string + " style='font-family: Quattrocento, serif; font-weight: bold; width: 300px;'>";
			row_string = row_string + application.school + "</td></tr>";
			$('#calendar').fullCalendar("addEventSource", application.events);
			return row_string;
		}

		var create_school_list = function(){
			var table_string = "<table id='school-list'";
			table_string = table_string + " class='mdl-data-table mdl-js-data-table'>"; 
			table_string = table_string + "<thead style='background-color:#eee;'>";
			table_string = table_string + "<tr> <th class='mdl-data-table__cell--non-numeric' style=' text-align:left; font-family: 'Quattrocento', serif; font-weight: bold;'>All Schools</th></tr></thead>";
			table_string = table_string + "<tbody style='background-color:#eee;'>";
			for (i = 0; i < sessionStorage.length; i++){
				var application = JSON.parse(sessionStorage.getItem(sessionStorage.key(i)));
				table_string = table_string + create_new_school_row(application);
			}
			table_string = table_string + "</tbody></table>";
			return table_string;
		}
		
		var create_modal_school_list = function(){
			var list_string = "<select class='mdl-textfield__input' type='text' id='schoolpicker'>";
			for (i = 0; i < sessionStorage.length; i++){
				var application = JSON.parse(sessionStorage.getItem(sessionStorage.key(i)));
				list_string = list_string + "<option>" + application.school + "</option>";
			}
			list_string = list_string + "</select>";
			return list_string;
		}
		
		$('#schoolpicker').replaceWith(create_modal_school_list());
		$('#school-list').replaceWith(create_school_list());
	  });
	  </script>
	</head>
	  
	<body id="homepage">
	
      <dialog class="mdl-dialog" id="dialog">
        <div class="mdl-dialog__content">
          <!-- Displayed on Computer and Tablet -->
          <div class="mdh-expandable-search2 mdl-cell--hide-phone">
            <form action="#" id="reminder_name_form">
              <div class="mdl-textfield mdl-js-textfield">
                <p style="margin: 0px; font-size: 18px">Name of Reminder:</p>
                <input class="mdl-textfield__input" type="text" id="reminder_name"/>
                <label class="mdl-textfield__label" for="reminder_name"></label>
              </div>
            </form>
            <form action="#" id="date_form">
              <div class="mdl-textfield mdl-js-textfield">
                <p style="margin: 0px; font-size: 18px">Date:</p>
                <input class="mdl-textfield__input" type="date" id="datepicker"/>
                <label class="mdl-textfield__label" for="datepicker"></label>
              </div>
            </form>
            <form action="#" id="time_form">
              <div class="mdl-textfield mdl-js-textfield">
                <p style="margin: 0px; font-size: 18px">Time:</p>
                <input class="mdl-textfield__input" type="time" id="timepicker">
                <label class="mdl-textfield__label" for="timepicker"></label>
              </div>
            </form>
            <form action="#" id="school_form">
              <div class="mdl-textfield mdl-js-textfield">
                <p style="margin: 0px; font-size: 18px">School:</p>
                <select id="schoolpicker"></select>
                <label class="mdl-textfield__label" for="schoolpicker"></label>
              </div>
            </form>
            <!-- Floating Multiline Textfield -->
            <form action="#" id="description_form">
              <div class="mdl-textfield mdl-js-textfield">
                <p style="margin: 0px; font-size: 18px">Description:</p>
                <textarea class="mdl-textfield__input" type="text" rows= "2" id="description"></textarea>
                <label class="mdl-textfield__label" for="description"></label>
              </div>
            </form>
          </div>
        </div>
        <div class="mdl-dialog__actions">
          <button id="add_button" type="button" class="mdl-button">Add</button>
          <button id="cancel_button" type="button" class="mdl-button">Cancel</button>
        </div>
      </dialog>

      <!-- Source: https://www.getmdl.io/components/index.html#layout-section -->
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">My Applications</span>
        <nav id="side-drawers" class="mdl-navigation"></nav>
      </div>
        <header class="mdl-layout__header">
          <div class="mdl-layout__header-row">
            <a href="./homepage.html">
              <button id= "homeButton" style="color:white" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                Home
              </button>
            </a>  
            <script>
              document.getElementById("homeButton").addEventListener("click", function() {console.log("Go to Home Page")});
            </script>
            <button id= "calendarButton" style="color:white" class="mdl-button mdl-js-button mdl-js-ripple-effect">
              Calendar
            </button>
            <script>
              document.getElementById("calendarButton").addEventListener("click", function() {console.log("Go to Calendar Page")});
            </script>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-layout-spacer"></div>
            <span id="gradual">GRADual</span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-layout-spacer"></div>
            <button id="notificationsButton" class="mdl-button mdl-js-button mdl-js-ripple-effect">
              <i style="height:12px" id="bell" class="material-icons mdl-badge mdl-badge--overlap" data-badge="3">notifications</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="notificationsButton">
              <li class="mdl-menu__item">Interview in 6 Hours</li>
              <li class="mdl-menu__item">You've been accepted to Yale!</li>
              <li class="mdl-menu__item">Harvard Application due on Monday</li>
            </ul>
            <script>
              document.getElementById("notificationsButton").addEventListener("click", function() {console.log("Show Notifications")});
            </script>
            <button id="demo-menu-lower-right"
                    class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">account_box</i>
            </button>

            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="demo-menu-lower-right">
              <li id="logout" class="mdl-menu__item">Log Out</li>
            </ul>
          </div>
        </header>
        <main class="mdl-layout__content">
			<table>
				<tr>
					<td>
						  <div id="school-checker"
							style="width:150%; margin-left:130%; margin-right:auto;">
							<table id="school-list"></table>
						  </div>
					</td>
					<td>
						  <div id="calendar-holder" style="width:70%; margin-left:auto; margin-right:7%; margin-top:1%; margin-bottom:auto;">
							  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent show-modal" id="add_reminder_button" 
								style="display:block; width:100%; max-width:25%; margin-right:auto; margin-left:auto; margin-top:2%; font-family: 'Quattrocento', serif;"> + Add Reminder
							  </button>
							  <div id="calendar"></div>
						  </div>
					</td>
				</tr>
			</table>
			  <script>

        reminders = []


			  $("#add_reminder_button").on("click", function() {
				var dialog = document.querySelector('dialog');
				if (! dialog) {
				  dialogPolyfill.registerDialog(dialog);
				}
				dialog.showModal();
			  });

			  dialog.querySelector('#cancel_button').addEventListener('click', function() {
          var name = $('#reminder_name');
          var date = $('#datepicker');
          var time = $('#timepicker');
          var school = $('#schoolpicker');
          var description = $('#description');
          name.val('');
          date.val('');
          time.val('');
          school.val('');
          description.val('');
				  dialog.close();

			  });

			  dialog.querySelector('#add_button').addEventListener('click',function() {
          var name = $('#reminder_name').val();
          var date = $('#datepicker').val();
          var time = $('#timepicker').val();
          var school = $('#schoolpicker').val();
          var description = $('#description').val();
		  var eventColor = "black";

          if (name.length > 0 && date.length > 0 && time.length > 0 && school.length >0 && description.length > 0) {
            reminders.push([name,date,time,school,description]);
			console.log(reminders);
			if (school == "MIT"){
				eventColor = "#ff4d4d";
			}
			else if (school == "Stanford"){
				eventColor = "#6666ff";
			}
			else if (school == "Harvard"){
				eventColor = "#ff80ff";
			}
			else if (school == "Columbia"){
				eventColor = "#ff8c1a";
			}
			else if (school == "Yale"){
				eventColor = "#ffff33";
			}
			else if (school == "UC Berkeley"){
				eventColor = "#80ff80";
			}
			else if (school == "Cornell"){
				eventColor = "#999999";
			}
			else if (school == "Notre Dame"){
				eventColor = "#ff9f80";
			}
			else if (school == "Boston College"){
				eventColor = "#cce0ff";
			}
			else if (school == "Duke"){
				eventColor = "#ffb3b3";
			}
			else if (school == "Georgetown"){
				eventColor = "#ffb366";
			}
			else if (school == "Rice"){
				eventColor = "#ffffb3";
			}
			else if (school == "UChicago"){
				eventColor = "#ccffcc";
			}
			else if (school == "UVA"){
				eventColor = "#d9d9d9";
			}
			else if (school == "UPenn"){
				eventColor = "#00ffff";
			}
			
			$('#calendar').fullCalendar("addEventSource", {events:[{title : name, start : date, color : eventColor, time : time, description : description, school : school}]});
			dialog.close();
			for (i = 0; i < sessionStorage.length; i++){
				var application = JSON.parse(sessionStorage.getItem(sessionStorage.key(i)));
				if(application.school == school){
					sessionStorage[i].addEvent({title : name, start : date, color : eventColor});
				}
			}
          }
        });
			</script>
        </main>
      </div>
  </body>
</html>