<!DOCTYPE html>
<!--
   

  -->
<html>
  <head>
    <meta charset="UTF-8">
    <title>GRADual</title>
    <link href="../jquery/css/ui-lightness/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
    <link href="../css/material.min.css" rel="stylesheet">
    <link href="../formatting/gradual.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' href='../fullcalendar/fullcalendar.css' />

    <!-- Dependencies -->
      <script src="../jquery/js/jquery-1.12.0.min.js"></script>
      <script src="../jquery/js/jquery-ui-1.10.0.custom.min.js"></script>
      <script src="../js/material.min.js"></script>
      <script src="../models/Task.js"></script>
      <script src="../models/Application.js"></script>
      <script src="../models/gradual.js"></script>
	  <script src='../fullcalendar/lib/jquery.min.js'></script>
	  <script src='../fullcalendar/lib/moment.min.js'></script>
	  <script src='../fullcalendar/fullcalendar.js'></script>
      <script type="text/javascript">
      $(document).ready(function() {
        $('#calendar').fullCalendar({
			aspectRatio: 1.8,
			eventTextColor: 'black',
			events: [
				{
					title  : 'Interview',
					start  : '2016-05-04',
					editable : true,
					color : '#ff4d4d'
				},
				{
					title  : 'Admissions Results',
					start  : '2016-05-29',
					editable : true,
					color : '#ff4d4d'
				},
				{
					title  : 'Application Due',
					start  : '2016-05-09',
					editable : true,
					color : "#6666ff"
				},
				{
					title  : 'Admissions Results',
					start  : '2016-05-02',
					editable : true,
					color : '#80ff80'
				},
				{
					title  : 'Interview',
					start  : '2016-05-19',
					editable : true,
					color : '#ff80ff'
				}
			]
		});
      });
      </script>
	</head>
	  
	<body id="homepage">
      <dialog class="mdl-dialog" id="dialog">
        <div class="mdl-dialog__content">
          <!-- Displayed on Computer and Tablet -->
          <div class="mdh-expandable-search2 mdl-cell--hide-phone">
            <form action="#" id="event_name_form">
              <div class="mdl-textfield mdl-js-textfield">
                <p style="margin: 0px; font-size: 18px">Name of Event:</p>
                <input class="mdl-textfield__input" type="text" id="event_name"/>
                <label class="mdl-textfield__label" for="event_name"></label>
              </div>
            </form>
            <form action="#" id="date_form">
              <div class="mdl-textfield mdl-js-textfield">
                <p style="margin: 0px; font-size: 18px">Date:</p>
                <input class="mdl-textfield__input" type="date" id="datepicker"/>
                <label class="mdl-textfield__label" for="datepicker"></label>
              </div>
            </form>
            <form action="#" id="time_form">
              <div class="mdl-textfield mdl-js-textfield">
                <p style="margin: 0px; font-size: 18px">Time:</p>
                <input class="mdl-textfield__input" type="time" id="timepicker"/>
                <label class="mdl-textfield__label" for="timepicker"></label>
              </div>
            </form>
            <form action="#" id="school_form">
              <div class="mdl-textfield mdl-js-textfield">
                <p style="margin: 0px; font-size: 18px">School:</p>
                <input class="mdl-textfield__input" type="text" id="schoolpicker"/>
                <label class="mdl-textfield__label" for="schoolpicker"></label>
              </div>
            </form>
            <!-- Floating Multiline Textfield -->
            <form action="#" id="description_form">
              <div class="mdl-textfield mdl-js-textfield">
                <p style="margin: 0px; font-size: 18px">Description:</p>
                <textarea class="mdl-textfield__input" type="text" rows= "2" id="description"></textarea>
                <label class="mdl-textfield__label" for="description"></label>
              </div>
            </form>
          </div>
          <!-- Displayed on mobile -->
          <!-- <div class="mdl-layout-spacer mdl-cell--hide-tablet mdl-cell--hide-desktop"></div> -->
          <!-- Search button -->
          <!-- <button class="mdh-toggle-search mdl-button mdl-js-button mdl-button--icon mdl-cell--hide-tablet mdl-cell--hide-desktop">
            <i class="material-icons">search</i>
          </button> -->
        </div>
        <div class="mdl-dialog__actions">
          <button type="button" class="mdl-button add">Add</button>
          <button type="button" class="mdl-button close">Cancel</button>
        </div>
      </dialog>

      <!-- Source: https://www.getmdl.io/components/index.html#layout-section -->
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">My Applications</span>
        <nav id="side-drawers" class="mdl-navigation"></nav>
      </div>
        <header class="mdl-layout__header">
          <div class="mdl-layout__header-row">
            <a href="./homepage.html">
              <button id= "homeButton" style="color:white" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                Home
              </button>
            </a>  
            <script>
              document.getElementById("homeButton").addEventListener("click", function() {console.log("Go to Home Page")});
            </script>
            <button id= "calendarButton" style="color:white" class="mdl-button mdl-js-button mdl-js-ripple-effect">
              Calendar
            </button>
            <script>
              document.getElementById("calendarButton").addEventListener("click", function() {console.log("Go to Calendar Page")});
            </script>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-layout-spacer"></div>
            <span id="gradual">GRADual</span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-layout-spacer"></div>
            <button id="notificationsButton" class="mdl-button mdl-js-button mdl-js-ripple-effect">
              <i style="height:12px" id="bell" class="material-icons mdl-badge mdl-badge--overlap" data-badge="3">notifications</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="notificationsButton">
              <li class="mdl-menu__item">Interview in 6 Hours</li>
              <li class="mdl-menu__item">You've been accepted to Yale!</li>
              <li class="mdl-menu__item">Harvard Application due on Monday</li>
            </ul>
            <script>
              document.getElementById("notificationsButton").addEventListener("click", function() {console.log("Show Notifications")});
            </script>
            <button id="demo-menu-lower-right"
                    class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">account_box</i>
            </button>

            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="demo-menu-lower-right">
              <li id="userInfo" class="mdl-menu__item">User Informaton</li>
              <li id="logout" class="mdl-menu__item">Log Out</li>
            </ul>
          </div>
        </header>
        <main class="mdl-layout__content">
			  <div id="school-checker"
				style="width:13%; position:absolute; margin-left:5%; margin-right:auto; margin-top:10%; border-style:solid; border-width:0px; border-color:;">
				<table id="school-list"></table>
			  </div>
			  <div id="calendar-holder" style="width:70%; margin-left:auto; margin-right:7%; margin-top:1%; margin-bottom:auto;">
				  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent show-modal" id="add_reminder_button" 
					style="display:block; width:100%; max-width:25%; margin-right:auto; margin-left:auto; margin-top:2%; font-family: 'Quattrocento', serif;"> + Add Reminder
				  </button>
				  <div id="calendar"></div>
			  </div>
			  <script>
			  $("#add_reminder_button").on("click", function() {
				var dialog = document.querySelector('dialog');
				if (! dialog) {
				  dialogPolyfill.registerDialog(dialog);
				}
				dialog.showModal();
			  });

			  dialog.querySelector('.close').addEventListener('click', function() {
				// $('#login')[0].reset(); //clear text
				dialog.close();
			  });
			  dialog.querySelector('.add').addEventListener('click',function() {
				// add university to homepage
				var text_input = $('#schoolpicker').val();
				// check if it is in the array of colleges
				if (jQuery.inArray(text_input, current_colleges) !== -1) {
				  console.log("yes");
				  dialog.close();
				}
			  });
			  var current_colleges = [
				"Harvard University",
				"Stanford University",
				"Massachusetts Institute of Technology (Sloan)",
				"Yale University",
				"Columbia University",
				"University of California - Berkeley",
			  ];
			  $( "#schoolpicker" ).autocomplete({
				source: current_colleges
			  });
			  $( "#schoolpicker" ).autocomplete("option", "appendTo", "#dialog"); 
			</script>
        </main>
      </div>
  </body>
</html>