<!DOCTYPE html>
<!--
   

  -->
<html>
  <head>
    <meta charset="UTF-8">
    <title>GRADual</title>
    <link href="../jquery/css/ui-lightness/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
    <link href="../css/material.min.css" rel="stylesheet">
    <link href="../formatting/gradual.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="../css/addNewApp.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <!-- Dependencies -->
      <script src="../jquery/js/jquery-1.12.0.min.js"></script>
      <script src="../jquery/js/jquery-ui-1.10.0.custom.min.js"></script>
      <script src="../js/material.min.js"></script>
      <script src="../models/Application.js"></script>
      <script src="../models/gradual.js"></script>

    <!-- Source: https://www.getmdl.io/components/index.html#layout-section -->
    <div class="mdl-layout mdl-js-layout
                mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <a href="./homepage.html">
            <button id= "homeButton" style="color:white" class="mdl-button mdl-js-button mdl-js-ripple-effect">
              Home
            </button>
          </a>
          <a href="calendar.html">
            <button id= "calendarButton" style="color:white" class="mdl-button mdl-js-button mdl-js-ripple-effect">
              Calendar
            </button>
          </a>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-layout-spacer"></div>
          <span id="gradual">GRADual</span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-layout-spacer"></div>
          <button id="notificationsButton" class="mdl-button mdl-js-button mdl-js-ripple-effect">
            <i style="height:12px" id="bell" class="material-icons mdl-badge mdl-badge--overlap" data-badge="3">notifications</i>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="notificationsButton">
            <li class="mdl-menu__item">Interview in 6 Hours</li>
            <li class="mdl-menu__item">You've been accepted to Yale!</li>
            <li class="mdl-menu__item">Harvard Application due on Monday</li>
          </ul>
          <script>
            document.getElementById("notificationsButton").addEventListener("click", function() {console.log("Show Notifications")});
          </script>
          <button id="demo-menu-lower-right"
                    class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">account_box</i>
          </button>

          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
              for="demo-menu-lower-right">
            <li id="userInfo" class="mdl-menu__item">User Informaton</li>
            <li id="logout" class="mdl-menu__item">Log Out</li>
          </ul>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">My Applications</span>
        <nav id="side-drawers" class="mdl-navigation"></nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <h3 id="school-name"></h3>
          <div id="tasks">
            <!-- Tasks list -->
            <table id="task-list" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
              <thead id="tasksB">
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">Tasks</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="task-name" class="mdl-data-table__cell--non-numeric">Task 1</td>
                </tr>
                <tr>
                  <td id="task-name" class="mdl-data-table__cell--non-numeric">Task 2</td>
                </tr>
                <tr>
                  <td id="task-name" class="mdl-data-table__cell--non-numeric">Task 3</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="buttons">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
              + Add Task
            </button>
            <div id="buttons-container">
              <button id="resources-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                Resources
              </button>
              <button id="documents-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                Documents
              </button>
            <div> 
          </div>
        </div>
      </main>
    </div>

  </body>
</html>
