<!DOCTYPE html>
<!--
   

  -->
<html>
  <head>
    <meta charset="UTF-8">
    <title>GRADual</title>
    <link href="../jquery/css/ui-lightness/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
    <link href="../css/material.min.css" rel="stylesheet">
    <link href="../formatting/gradual.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>

  </head>
  <body id="homepage">
    <!-- Dependencies -->
      <script src="../jquery/js/jquery-1.12.0.min.js"></script>
      <script src="../jquery/js/jquery-ui-1.10.0.custom.min.js"></script>
      <script src="../js/material.min.js"></script>
      <script src="../models/Task.js"></script>
      <script src="../models/Application.js"></script>
      <script src="../models/gradual.js"></script>
      <script src="../js/homepage.js"></script>


      <dialog class="mdl-dialog" id="dialog">
        <div class="mdl-dialog__content">
          <!-- Displayed on Computer and Tablet -->
          <!-- Search -->
          <div class="mdh-expandable-search mdl-cell--hide-phone">
            <!-- Simple Textfield -->
            <form action="#" id="search_field">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="search_applications" style="font-family: 'Balthazar', serif">
                <label class="mdl-textfield__label" for="search_applications" style="font-family: 'Balthazar', serif">Search...</label>
              </div>
            </form>
          </div>
          <!-- Displayed on mobile -->
          <div class="mdl-layout-spacer mdl-cell--hide-tablet mdl-cell--hide-desktop">
            <form action="#" id="search_field">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="search_applications" style="font-family: 'Balthazar', serif">
                <label class="mdl-textfield__label" for="search_applications" style="font-family: 'Balthazar', serif">Search...</label>
              </div>
            </form>
          </div>
        </div>
        <div class="mdl-dialog__actions">
          <button type="button" class="mdl-button add" style="font-family:'Balthazar', serif">Add</button>
          <button type="button" class="mdl-button close" style="font-family: 'Balthazar', serif">Cancel</button>
        </div>
      </dialog>

      <!-- Source: https://www.getmdl.io/components/index.html#layout-section -->
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
          <div class="mdl-layout__header-row">
            <button id= "homeButton" style="color:white" class="mdl-button mdl-js-button mdl-js-ripple-effect">
              Home
            </button>
            <script>
              document.getElementById("homeButton").addEventListener("click", function() {console.log("Go to Home Page")});
            </script>
            <a href="./calendar.html">
              <button id= "calendarButton" style="color:white" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                Calendar
              </button>
            </a>
            <script>
              document.getElementById("calendarButton").addEventListener("click", function() {console.log("Go to Calendar Page")});
            </script>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-layout-spacer"></div>
            <span id="gradual">GRADual</span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                        mdl-textfield--floating-label mdl-textfield--align-right">
              <label class="mdl-button mdl-js-button mdl-button--icon"
                     for="fixed-header-drawer-exp">
                <i class="material-icons">search</i>
              </label>
              <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" name="sample"
                       id="fixed-header-drawer-exp">
              </div>
            </div>
            <button id="notificationsButton" class="mdl-button mdl-js-button mdl-js-ripple-effect">
              <i style="height:12px" id="bell" class="material-icons mdl-badge mdl-badge--overlap" data-badge="3">notifications</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="notificationsButton">
              <li class="mdl-menu__item">Interview in 6 Hours</li>
              <li class="mdl-menu__item">You've been accepted to Yale!</li>
              <li class="mdl-menu__item">Harvard Application due on Monday</li>
            </ul>
            <script>
              document.getElementById("notificationsButton").addEventListener("click", function() {console.log("Show Notifications")});
            </script>
            <button id="userButton" class="mdl-button mdl-js-button mdl-js-ripple-effect">
              <i style="color:white" class="material-icons">account_box</i>
            </button>
            <script>
              document.getElementById("userButton").addEventListener("click", function() {console.log("Go to User Info Page")});
            </script>
          </div>
        </header>
        <main class="mdl-layout__content">
          <div class="page-content">
            <link href="../jquery/css/ui-lightness/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
            <link href="../css/material.min.css" rel="stylesheet">
            <link href="../formatting/gradual.css" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
            <link href='https://fonts.googleapis.com/css?family=Balthazar' rel='stylesheet' type='text/css'>  
            <script src="../jquery/js/jquery-1.12.0.min.js"></script>
            <script src="../jquery/js/jquery-ui-1.10.0.custom.min.js"></script>
            <script src="../js/material.min.js"></script>
            <script src="../models/gradual.js"></script>
            <table>
              <tr>
                <td>
                  <a href="./headWithSideBar.html?=MIT">
                    <div id="mitCard" class="demo-card-square mdl-card mdl-shadow--2dp">
                      <div id="mitSpace" class="mdl-card__title mdl-card--expand">
                        <img id="mitBackground" class="background" src="../images/MITpic.jpg" width="320" left="0" z-index="0">
                        </img>
                        <h2 id="mitText" class="mdl-card__title-text" z-index="1">MIT</h2>
                      </div>
                      <div class="mdl-card__actions mdl-card--border">
                        <!-- Source: https://www.getmdl.io/components/index.html#loading-section -->
                        <div id="mitProgress" class="mdl-progress mdl-js-progress"></div>
                        <script>
                          //document.getElementById("mitCard").addEventListener("click", function() {console.log("Mit Card Clicked")});
                          document.querySelector('#mitProgress').addEventListener('mdl-componentupgraded', function() {
                            this.MaterialProgress.setProgress(56);
                          });
                        </script>
                      </div>
                    </div>
                  </a>
                </td>
                <td>
                  <a href="./headWithSideBar.html?=Harvard">
                    <div id="harvardCard" class="demo-card-square mdl-card mdl-shadow--2dp">
                      <div id="harvardSpace" class="mdl-card__title mdl-card--expand">
                        <img id="harvardBackground" class="background" src="../images/Harvardpic.jpg" width="320" height="289" left="0" z-index="0">
                        </img>
                        <h2 id="harvardText" class="mdl-card__title-text">Harvard</h2>
                      </div>
                      <div class="mdl-card__actions mdl-card--border">
                        <!-- Source: https://www.getmdl.io/components/index.html#loading-section -->
                        <div id="harvardProgress" class="mdl-progress mdl-js-progress" style="color:#B60611"></div>
                        <script>
                          document.querySelector('#harvardProgress').addEventListener('mdl-componentupgraded', function() {
                            this.MaterialProgress.setProgress(13);
                          });
                        </script>
                      </div>
                    </div>
                  </a>  
                </td>
                <td>
                  <a href="./headWithSideBar.html?=Stanford">
                    <div id="stanfordCard" class="demo-card-square mdl-card mdl-shadow--2dp">
                      <div id="stanfordSpace" class="mdl-card__title mdl-card--expand">
                        <img id="stanfordBackground" class="background" src="../images/Stanfordpic.jpg" width="320" height="289" left="0" z-index="0">
                        </img>
                        <h2 id="stanfordText" class="mdl-card__title-text">Stanford</h2>
                      </div>
                      <div class="mdl-card__actions mdl-card--border">
                        <!-- Source: https://www.getmdl.io/components/index.html#loading-section -->
                        <div id="stanfordProgress" class="mdl-progress mdl-js-progress"></div>
                        <script>
                          document.querySelector('#stanfordProgress').addEventListener('mdl-componentupgraded', function() {
                            this.MaterialProgress.setProgress(100);
                          });
                        </script>
                      </div>
                    </div>
                  </a>
                </td>
                <td>
                  <a href="./headWithSideBar.html?=Columbia">
                    <div id="columbiaCard" class="demo-card-square mdl-card mdl-shadow--2dp">
                      <div class="mdl-card__title mdl-card--expand">
                        <img id="columbiaBackground" class="background" src="../images/Columbiapic.jpg" width="320" height="289" left="0" z-index="0">
                        <h2 class="mdl-card__title-text">Columbia</h2>
                      </div>
                      <div class="mdl-card__actions mdl-card--border">
                        <!-- Source: https://www.getmdl.io/components/index.html#loading-section -->
                        <div id="columbiaProgress" class="mdl-progress mdl-js-progress"></div>
                        <script>
                          document.querySelector('#columbiaProgress').addEventListener('mdl-componentupgraded', function() {
                            this.MaterialProgress.setProgress(78);
                          });
                        </script>
                      </div>
                    </div>
                  </a>  
                </td>
              </tr>
              <tr>
                <td>
                  <a href="./headWithSideBar.html?=Yale">
                    <div id="yaleCard" class="demo-card-square mdl-card mdl-shadow--2dp">
                      <div class="mdl-card__title mdl-card--expand">
                        <img id="yaleBackground" class="background" src="../images/Yalepic.jpg" width="320" height="289" left="0" z-index="0">
                        <h2 class="mdl-card__title-text">Yale</h2>
                      </div>
                      <div class="mdl-card__actions mdl-card--border">
                        <!-- Source: https://www.getmdl.io/components/index.html#loading-section -->
                        <div id="yaleProgress" class="mdl-progress mdl-js-progress"></div>
                        <script>
                          document.querySelector('#yaleProgress').addEventListener('mdl-componentupgraded', function() {
                            this.MaterialProgress.setProgress(100);
                          });
                        </script>
                      </div>
                    </div>
                  </a>
                </td>
                <td>
                  <a href="./headWithSideBar.html?=Berkeley">
                    <div id="berkeleyCard" class="demo-card-square mdl-card mdl-shadow--2dp">
                      <div class="mdl-card__title mdl-card--expand">
                        <img id="berkeleyBackground" class="background" src="../images/Berkeleypic.jpg" width="320" height="289" left="0" z-index="0">
                        <h2 class="mdl-card__title-text">UC Berkeley</h2>
                      </div>
                      <div class="mdl-card__actions mdl-card--border">
                        <!-- Source: https://www.getmdl.io/components/index.html#loading-section -->
                        <div id="berkeleyProgress" class="mdl-progress mdl-js-progress"></div>
                        <script>
                          document.querySelector('#berkeleyProgress').addEventListener('mdl-componentupgraded', function() {
                            this.MaterialProgress.setProgress(47);
                          });
                        </script>
                      </div>
                    </div>
                  </a>
                </td>
                <td>
                  <div id="newCard" class="demo-card-square mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand">
                      <i id="addAppIcon" style="color:#B60611" class="material-icons">add</i>
                      <h2 id="newText" class="mdl-card__title-text" style="align:center">Add New Application</h2>
                    </div>
                    <!-- Add new application -->
                    <script>
                      $("#newCard").on("click", function() {
                        console.log("New Application Card Clicked")
                        var dialog = document.querySelector('dialog');
                        // var showModalButton = document.querySelector('.show-modal');
                        if (! dialog) {
                          dialogPolyfill.registerDialog(dialog);
                        }
                        dialog.showModal();
                      });

                      dialog.querySelector('.close').addEventListener('click', function() {
                        $('#search_field')[0].reset(); //clear text
                        console.log("close");
                        dialog.close();
                      });
                      dialog.querySelector('.add').addEventListener('click',function() {
                        // add university to homepage
                        var text_input = $('#search_applications').val();
                        // check if it is in the array of colleges
                        if (jQuery.inArray(text_input, colleges) !== -1) {
                          // console.log("yes");
                          $('#search_field')[0].reset(); //clear text
                          dialog.close();
                        }
                      });
                      var colleges = [
                        "Harvard University",
                        "Stanford University",
                        "University of Chicago (Booth)",
                        "University of Pennsylvania (Wharton)",
                        "Massachusetts Institute of Technology (Sloan)",
                        "Northwestern University (Kellogg)",
                        "Yale University",
                        "Columbia University",
                        "Cornell University (Johnson)",
                        "New York University",
                        "Duke University",
                        "Vanderbilt University",
                        "Johns Hopkins University",
                        "University of Pennsylvania (Perelman)",
                        "Washington University in St. Louis",
                        "University of Chicago (Pritzker)",
                        "University of Michigan - Ann Arbor",
                        "Cornell University (Weill)",
                        "Emory University",
                        "University of North Carolina - Chapel Hill",
                        "Case Western Reserve University",
                        "University of Minnesota",
                        "University of Iowa",
                        "University of Notre Dame",
                        "Arizona State University (O'Connor)",
                        "Boston University",
                        "University of Texas - Austin",
                        "Georgetown University",
                        "University of Virginia",
                        "University of California - Berkeley",
                        "Dartmouth College (Tuck)",
                        "Carnegie Mellon University (Tepper)",
                        "Indiana University (Kelley)",
                        "Rice University (Jones)",
                        "Vanderbilt University (Owen)",
                        "Georgetown University (McDonough)",
                        "Washington University in St. Louis (Olin)",
                        "New York University (Stern)",
                        "University of Alabama",
                        "George Washington University",
                        "University of California - Irvine",
                        "Boston College",
                        "University of California - Davis",
                        "University of Georgia",
                        "Baylor College of Medicine",
                        "Mayo Medical School",
                        "University of Rochester",
                        "Ohio State University",
                        "Brown University (Alpert)",
                        "Dartmouth College (Geisel)",
                        "University of Cincinnati",
                        "University of Maryland",
                        "University of Utah",
                        "Tufts University",
                        "Ohio State University (Moritz)",
                        "University of Wisconsin - Madison",
                        "Fordham University",
                        "University of Arizona (Rogers)",
                        "Wake Forest University"
                      ];
                      $( "#search_applications" ).autocomplete({
                        source: colleges
                      });
                      $( "#search_applications" ).autocomplete("option", "appendTo", "#dialog");  
                    </script>
                  </div>
                </td>
              </tr>
              <tr>
              </tr>
            </table>
          </div>
        </main>
      </div>
  </body>
</html>