html *
{
  font-family: 'Quattrocento', serif;
}
/*li { cursor: pointer; }*/
body{
  background-color: #eee;
}

#bell {
	color: white;
}

#gradual {
	font-family: 'Quattrocento', serif;
	font-size: 250%;
	text-align: center;
  cursor: default;
}

#calendarButton {
	font-family: 'Quattrocento', serif;
	font-size: 125%;
}

#homeButton {
	font-family: 'Quattrocento', serif;
	font-size: 125%;
}

/*Source: https://www.getmdl.io/components/index.html#cards-section*/
.demo-card-square.mdl-card {
  width: 310px;
  height: 310px;
  cursor: pointer;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
}

.demo-card-square {
  margin-left: 40px;
  margin-top: 40px;
  position: relative;
}

.background {
	position: absolute;
	left: 0;
	top: 0;
}

.mdl-card__title-text {
	font-family: 'Quattrocento', serif;
	font-weight: bold;
	font-size: 180%;
	position: absolute;
	bottom: 35px;
	left: 20px;
	color: #B60611;
	background: white;
	padding:5px;
	border-radius: 3px;
}

#newText {
	position: absolute;
	left: 35px;
	font-size: 150%;
}

.page-content{
  position: relative;
}

#tasks {
  width: 60%;
  display: inline-block;
}

#buttons {
  left: 60%;
  width: 40%;
  display: inline-block;
}

#task-list {
  margin: auto;
  width: 95%;
}

#done-list {
  margin: auto;
  margin-top: 20px;
  width: 95%;
}


#task-name {
  width: 90%;
}

#school-name {
  padding-left: 3%;
  cursor: default;
}

#resources-button {
  display: block;
  top: 20%;
  margin-top: 10px;
}

#documents-button{
  display: block;
  margin-top: 10px;
}

.mdl-layout__header {
	background-color: #B60611;
}

.mdl-layout-title {
  font-family: 'Quattrocento', serif;
  font-weight: bold;
}


#addAppIcon {
	position: absolute;
	top: 43px;
	left: 56px;
	font-size: 1200%;
}

.mdl-menu__item {
	font-family: 'Quattrocento', serif;
}

#navigation {
  padding-left: 20px;
  margin: 30px;
  font-size: 20px;
}

.mdl-list__item, .mdl-list__item .mdl-list__item-primary-content{
  width: 400px;
  background: white;
  margin: 20px 40px;
  padding-left: 10px;
}

#school_name_link{
  text-decoration: underline;
}

#resources-link{
  text-decoration: underline;
}

a{
  color: black;
}

.mdh-expandable-search2,
.mdh-expandable-search2 form {
  display: block;
}

.mdl-textfield__input {
  border-bottom-width: 2px; 
  font-family: 'Quattrocento', serif;
}

.mdl-textfield__label {
  border-bottom-width: 2px; 
  font-family: 'Quattrocento', serif;
}

.mdl-button {
  font-family: 'Quattrocento', serif;
}

.mdl-data-table__cell--non-numeric {
  cursor: default;
}

.mdh-expandable-search,
.mdh-expandable-search form {
  /* Cross browser inline-flex */
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

body .ui-autocomplete {
  /* font-family to all */
  font-family: 'Quattrocento', serif;
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 20px;  
}

body .ui-autocomplete .ui-menu-item .ui-state-focus {
   /* selected <a> */
   background: #B60611;
   color: #FFFFFF;
   border-color: #B60611;
}

#dialog {
  width: -webkit-fit-content;
}

#tasksBar {
  background-color: #607D8B;
}

#login {
  position: relative;
  height: 100%;
  width: 100%;
}
#canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index:0;
}
#menu {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

#loginTitle {
  position: absolute;
  font-size: 50pt;
  color: #B60611;
  margin-top: 60px;
  text-align: center;
  width: 40%;
  left: 30%;
  right: 30%;
}

#wordBox {
  position: absolute;
  top: 35%;
  bottom: 35%;
  left: 33%;
  right: 33%;
  background-color: #FFFFFF;
  border-radius: 7px;
  padding: 2%;
  width: 30%;
  height: 26%;
}

#loginButton {
  position: absolute;
  right: 10%;
  bottom: 15%;
}

.mdl-textfield {
  width: 100%;
}

#task-name-done{
  padding-left: 85px;
  text-decoration: line-through;
}

#documents {
  display: block;
  background: white;
  margin: 20px 30px 20px 20px;
}

#recruiter-info {
  background: white;
  width: 95%;
  padding: 10px;
}

#app-portal-button {
  margin-bottom: 20px;
  left: 40%;
}