body{
  background-color: #eee;
}

#bell {
	color: white;
}

#gradual {
	font-family: 'Quattrocento', serif;
	font-size: 250%;
	text-align: center;
}

#calendarButton {
	font-family: 'Quattrocento', serif;
	font-size: 125%;
}

#homeButton {
	font-family: 'Quattrocento', serif;
	font-size: 125%;
}

/*Source: https://www.getmdl.io/components/index.html#cards-section*/
.demo-card-square.mdl-card {
  width: 310px;
  height: 310px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
}

.demo-card-square {
  margin-left: 40px;
  margin-top: 40px;
  position: relative;
}

.background {
	position: absolute;
	left: 0;
	top: 0;
}

.mdl-card__title-text {
	font-family: 'Quattrocento', serif;
	font-weight: bold;
	font-size: 180%;
	position: absolute;
	bottom: 35px;
	left: 20px;
	color: #B60611;
	background: white;
	padding:5px;
	border-radius: 3px;
}

#newText {
	position: absolute;
	left: 35px;
	font-size: 150%;
}

.page-content{
  position: relative;
}

#tasks {
  width: 70%;
  display: inline-block;
  position: absolute;
}

#buttons {
  left: 70%;
  width: 30%;
  display: inline-block;
  position: absolute;
}

#task-list {
  margin: auto;
  width: 95%;
}

#task-name {
  width: 90%;
}

#school-name {
  padding-left: 3%;
}

#resources-button {
  display: block;
  top: 20%;
  margin-top: 10px;
}

#documents-button{
  display: block;
  margin-top: 10px;
}

#buttons-container{
  top: 50px;
  display: block;
  position: relative;
}

.mdl-layout__header {
	background-color: #B60611;
}

#addAppIcon {
	position: absolute;
	top: 43px;
	left: 56px;
	font-size: 1200%;
}

.mdl-menu__item {
	font-family: 'Quattrocento', serif;
}

#navigation {
  padding-left: 20px;
  margin: 30px;
  font-size: 20px;
}

.mdl-list__item, .mdl-list__item .mdl-list__item-primary-content{
  width: 400px;
  background: #999;
  margin: 10px 40px;
  padding-left: 10px;
}

#school_name_link{
  text-decoration: underline;
}

#resources-link{
  text-decoration: underline;
}

a{
  color: black;
}