/*.mdl-layout {
	align-items: center;
  justify-content: center;
}
.mdl-layout__content {
	padding: 24px;
	flex: none;
}*/

.mdh-expandable-search,
.mdh-expandable-search form {
  display: block;
}

body .ui-autocomplete {
  /* font-family to all */
  	font-family: 'Balthazar', serif;
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;	
}

body .ui-autocomplete .ui-menu-item .ui-state-focus {
   /* selected <a> */
   background: #3f51b5;
   color: #FFFFFF;
   border-color: #3f51b5;
}

.mdl-textfield__input {
	border-bottom-width: 2px 
}